In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
from scipy.stats import skew

In [26]:
dataset = pd.read_csv(r"Data\sleep_duration.csv")
dataset.head()

  Nama Mahasiswa  Durasi Tidur (Jam)
0       Adnan R.                 7.0
1       Bunga S.                 6.5
2      Candra M.                 7.8
3        Dian P.                 7.2
4         Eko H.                 6.0

In [27]:
check_typedata = print(dataset.dtypes)

Nama Mahasiswa         object
Durasi Tidur (Jam)    float64
dtype: object

In [28]:
check_duplicated = dataset.duplicated().sum()
print(f"Result: {check_duplicated}")

Result: 0

In [29]:
check_nun = dataset.isnull().sum()
print(f"result = {dataset.isnull().sum()}")

result = Nama Mahasiswa        0
Durasi Tidur (Jam)    0
dtype: int64

In [30]:
durasi = dataset['Durasi Tidur (Jam)']

Q1 = durasi.quantile(0.25)
Q3 = durasi.quantile(0.75)

IQR = Q3 - Q1

batas_bawah = Q1 - 1.5 * IQR
batas_atas = Q3 + 1.5 * IQR

outliers = dataset[(durasi < batas_bawah) | (durasi > batas_atas)]

print(f"--- Hasil Perhitungan IQR ---")
print(f"Q1 (25th Percentile): {Q1:.2f} jam")
print(f"Q3 (75th Percentile): {Q3:.2f} jam")
print(f"IQR (Q3 - Q1): {IQR:.2f} jam")
print(f"Batas Bawah (Lower Bound): {batas_bawah:.2f} jam")
print(f"Batas Atas (Upper Bound): {batas_atas:.2f} jam")
print("-" * 30)

if outliers.empty:
    print("STATUS: Tidak ditemukan Outlier berdasarkan metode IQR.")
else:
    print(f"STATUS: Ditemukan {len(outliers)} Outlier berdasarkan metode IQR:")
    print(outliers)

--- Hasil Perhitungan IQR ---
Q1 (25th Percentile): 6.22 jam
Q3 (75th Percentile): 7.57 jam
IQR (Q3 - Q1): 1.35 jam
Batas Bawah (Lower Bound): 4.20 jam
Batas Atas (Upper Bound): 9.60 jam
------------------------------
STATUS: Tidak ditemukan Outlier berdasarkan metode IQR.

In [31]:
rata_rata_tidur = dataset['Durasi Tidur (Jam)'].mean()
print(f"Tipe data kolom: {dataset['Durasi Tidur (Jam)'].dtype}")
print(f"Rata-rata Durasi Tidur: {rata_rata_tidur:.2f} jam")

Tipe data kolom: float64
Rata-rata Durasi Tidur: 6.98 jam

In [32]:
median_tidur = dataset['Durasi Tidur (Jam)'].median()
print(f"Tipe data kolom: {dataset['Durasi Tidur (Jam)'].dtype}")
print(f"Median Durasi Tidur: {median_tidur:.2f} jam")

Tipe data kolom: float64
Median Durasi Tidur: 7.05 jam

In [34]:
nilai_skewness = skew(dataset['Durasi Tidur (Jam)'])
if nilai_skewness > 0:
    jenis = "Positif (Right Skewed)"
    arah = "kanan"
    interpretasi = "sebagian besar mahasiswa tidur sedikit lebih sebentar dari rata-rata, dengan beberapa outlier yang tidur sangat lama."
elif nilai_skewness < 0:
    jenis = "Negatif (Left Skewed)"
    arah = "kiri"
    interpretasi = "sebagian besar mahasiswa tidur sedikit lebih lama dari rata-rata, dengan beberapa outlier yang tidur sangat sebentar."
else:
    jenis = "Simetris (Tidak Skewed)"
    arah = "-"
    interpretasi = "durasi tidur mahasiswa relatif seimbang di sekitar rata-rata."

print(f"Nilai Skewness: {nilai_skewness:.4f}")
print(f"Distribusi durasi tidur menunjukkan {jenis}, dengan ekor memanjang ke {arah}.")
print(f"Ini mengindikasikan bahwa {interpretasi}")

Nilai Skewness: -0.0476
Distribusi durasi tidur menunjukkan Negatif (Left Skewed), dengan ekor memanjang ke kiri.
Ini mengindikasikan bahwa sebagian besar mahasiswa tidur sedikit lebih lama dari rata-rata, dengan beberapa outlier yang tidur sangat sebentar.