In [33]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv(r'D:\Pemograman Python\Sleep Pattern Analysis\Data\sleep_duration.csv')
dataset.head()

  Nama Mahasiswa  Durasi Tidur (Jam)
0       Adnan R.                 7.0
1       Bunga S.                 6.5
2      Candra M.                 7.8
3        Dian P.                 7.2
4         Eko H.                 6.0

In [11]:
check_typedata = print(dataset.dtypes)

Nama Mahasiswa         object
Durasi Tidur (Jam)    float64
dtype: object

In [16]:
check_duplicated = dataset.duplicated().sum()
print(f"Result: {check_duplicated}")

Result: 0

In [19]:
check_nun = dataset.isnull().sum()
print(f"result = {dataset.isnull().sum()}")

result = Nama Mahasiswa        0
Durasi Tidur (Jam)    0
dtype: int64

In [29]:
durasi = dataset['Durasi Tidur (Jam)']

# 1. Menghitung Kuartil (Q1 dan Q3)
Q1 = durasi.quantile(0.25)
Q3 = durasi.quantile(0.75)

# 2. Menghitung Interquartile Range (IQR)
IQR = Q3 - Q1

# 3. Menghitung Batas Pagar (Fences)
batas_bawah = Q1 - 1.5 * IQR
batas_atas = Q3 + 1.5 * IQR

# 4. Mengidentifikasi Outlier
outliers = dataset[(durasi < batas_bawah) | (durasi > batas_atas)]

# Menampilkan Hasil
print(f"--- Hasil Perhitungan IQR ---")
print(f"Q1 (25th Percentile): {Q1:.2f} jam")
print(f"Q3 (75th Percentile): {Q3:.2f} jam")
print(f"IQR (Q3 - Q1): {IQR:.2f} jam")
print(f"Batas Bawah (Lower Bound): {batas_bawah:.2f} jam")
print(f"Batas Atas (Upper Bound): {batas_atas:.2f} jam")
print("-" * 30)

if outliers.empty:
    print("STATUS: Tidak ditemukan Outlier berdasarkan metode IQR.")
else:
    print(f"STATUS: Ditemukan {len(outliers)} Outlier berdasarkan metode IQR:")
    print(outliers)

--- Hasil Perhitungan IQR ---
Q1 (25th Percentile): 6.22 jam
Q3 (75th Percentile): 7.57 jam
IQR (Q3 - Q1): 1.35 jam
Batas Bawah (Lower Bound): 4.20 jam
Batas Atas (Upper Bound): 9.60 jam
------------------------------
STATUS: Tidak ditemukan Outlier berdasarkan metode IQR.